* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background: #0081C9;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(../image/unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* .header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: -30px;
  background: linear-gradient(0deg, rgba(255, 255, 255, .7) 10%, rgba(255, 255, 255, 0) 50%);
} */

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #DC0000;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: #820000;
}

.header nav .logo {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

.header nav .logo span {
  color: #FFB100;
  font-style: italic;
}

.header nav ul li {
  display: inline-block;
  padding: 0 20px;
  box-sizing: border-box;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: .3s;

}

.header nav ul li a:hover {
  color: #FFB100;
}

.header nav ul li a::after {
  content: '';
  display: block;
  /*! CARA YANG PERTAMA */
  padding-bottom: 1px;
  border-bottom: 2px solid #FF6E31;
  transform: scale(0);
  transition: .5s;
  /*! CARA YANG KEDUA  */
  /* width: 0%;
  height: 3px;
  margin: auto;
  background: #FF6E31;
  transition: .5s;   */
}

.header nav ul li a:hover::after {
  transform: scale(1);
  /* width: 100%; */
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 4;
  width: 95%;
}

.text h1 {
  margin: 10px 0 30px;
  font-size: 48px;
}

.text p {
  margin-bottom: 20px;
}

.text .btn {
  padding: 15px;
  background: transparent;
  color: #fff;
  border-radius: 8px;
  border: 2px groove #FFB100;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.text .btn:hover {
  background: #DC0000;
  border-color: #DC0000;
}

.header nav .fa {
  display: none;
}

.course {
  text-align: center;
  margin: 0 auto 100px;
  width: 80%;
  padding-top: 100px;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

p {
  font-size: 15px;
  line-height: 22px;
  padding: 10px;
}

h3 {
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  box-sizing: border-box;
}

.course-col {
  padding: 13px;
  background: #FB2576;
  margin: 10px 10px;
  flex-basis: 31%;
}

.campus {
  text-align: center;
  margin: 0 auto 100px;
  width: 80%;
  padding-top: 100px;
  box-sizing: border-box;
}
























@media (max-width: 768px) {
  .logo h1 {
    font-size: 32px;
  }

  nav .list {
    position: absolute;
    right: -80%;
    top: 100%;
    height: 100vh;
    width: 50%;
    background: #CD0404;
    z-index: 2;
    text-align: left;
    box-sizing: border-box;
    transition: .4s;
  }

  nav .list.active {
    right: 0;
  }

  .list ul li {
    display: block;
    margin: 30px;

  }

  .header nav .fa {
    display: block;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 2;
  }

  .text {
    width: 100%;
    bottom: 0;

  }

  .text h1 {
    font-size: 45px;
  }

  .text p {
    font-size: 20px;
  }

  .text .btn {
    font-size: 16px;
  }

  .row {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .logo h1 {
    font-size: 32px;
  }

  nav .list {
    position: absolute;
    right: -80%;
    top: 100%;
    height: 100vh;
    width: 50%;
    background: #CD0404;
    z-index: 2;
    text-align: left;
    box-sizing: border-box;
    transition: .4s;
  }

  nav .list.active {
    right: 0;
  }

  .list ul li {
    display: block;
    margin: 20px;

  }

  .header nav .fa {
    display: block;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 2;
  }

  nav .text {
    width: 100%;
  }

  .text h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
  }
}